<%- include('../partials/header'); %>


<section id="show-page">
  <div>Image:</div>
  <div></div>
  <div>Make:</div>
  <div><%= evRide.make %></div>
  <div>Model:</div>
  <di><%= evRide.model %></di>
  <div>Price:</div>
  <div><%= evRide.price %></div>
  <div>Range:</div>
  <div><%= evRide.range %></div>
  <div>Speed:</div>
  <div><%= evRide.speed %></div>
  <div>Reviews:</div>
  <div><%= evRide %></div>
</section>




<h2>Add a Review!</h2>

<form id="add-review-form" method="POST"
 action="/evRides">
 <label>Review:</label>
 <textarea name="content"></textarea>
 <label>Rating:</label>
 <select name="rating">
   <option value="1">1</option>
   <option value="2">2</option>
   <option value="3">3</option>
   <option value="4">4</option>
   <option value="5">5</option>
   <option value="6">6</option>
   <option value="7">7</option>
   <option value="8">8</option>
   <option value="9">9</option>
   <option value="10">10</option>
 </select>
 <input type="submit" value="Add Review">
</form>
<form>
<input type="submit" value="Delete Review">
</form>

  
<%- include('../partials/footer'); %>
